<div class="container-xxl">
<button class="m-4 btn btn-dark" (click)="back()">back</button>

<div class="card m-4 ">
    <div class="card-header dp d-flex justify-content-between">
        <ul
        class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        "
        >
        <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6"
              (click)="tabIndex = 0"
              routerLinkActive="active"
            >
              Basic Info
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6"
              (click)="tabIndex = 1"
              routerLinkActive="active"
            >
              Address
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6"
              (click)="tabIndex = 2"
              routerLinkActive="active"
            >
              Company
            </a>
          </li>
          </ul>
          <button class="btn btn-outline-dark me-3" (click)="GetPost(userDetails['id'])">GetPost</button>
    </div>
    <div class="card-body">
        <ng-container  *ngIf="tabIndex === 0">

            <div class="mx-3">
                <!-- <p>{{userDetails | json}}</p> -->
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Name</label>
                    
                    <div class="col-lg-7" *ngIf="!loading">
                      <span class="fw-bolder  text-dark">{{userDetails.name}}</span>
                    </div>
                    <div class="col-lg-7" *ngIf="loading">
                      <div class="spinner-border spinner-border-sm" role="status" >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">User Name</label>
                    
                    <div class="col-lg-7" *ngIf="!loading">
                      <span class="fw-bolder  text-dark">{{userDetails.username}}</span>
                    </div>
                    <div class="col-lg-7" *ngIf="loading">
                    <div class="spinner-border spinner-border-sm" role="status" >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Email</label>
                    
                    <div class="col-lg-7" *ngIf="!loading">
                      <span class="fw-bolder  text-dark">{{userDetails.email}}</span>
                    </div>
                    <div class="col-lg-7" *ngIf="loading">
                    <div class="spinner-border spinner-border-sm" role="status" >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Phone</label>
                    
                    <div class="col-lg-7" *ngIf="!loading">
                      <span class="fw-bolder  text-dark">{{userDetails.phone}}</span>
                    </div>
                    <div class="col-lg-7" *ngIf="loading">
                      <div class="spinner-border spinner-border-sm" role="status" >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Website</label>
                    
                    <div class="col-lg-7" *ngIf="!loading">
                      <a class="fw-bolder  text-active-primary" [href]="'https://' + userDetails.website" target="_blank">{{userDetails.website}}</a>
                    </div>
                    <div class="col-lg-7" *ngIf="loading">
                      <div class="spinner-border spinner-border-sm" role="status" >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      </div>
                </div>
            </div>
        </ng-container>
        <ng-container  *ngIf="tabIndex === 1">

            <div class="mx-3">
                <!-- <p>{{userDetails | json}}</p> -->
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">City</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.address.city}}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Street</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.address.street}}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Suite</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.address.suite}}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Zipcode</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.address.zipcode}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container  *ngIf="tabIndex === 2">

            <div class="mx-3">
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Name</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.company.name}}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Catch Phrase</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.company.catchPhrase}}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 fw-bold text-muted">Bs</label>
                    
                    <div class="col-lg-7">
                      <span class="fw-bolder  text-dark">{{userDetails.company.bs}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
</div>
